<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card leadership-team-member">
      <div class="card-body text-center">
          {% if include.member.photo %}<p><img class="img-fluid" src="{{include.member.photo}}" alt="{{include.member.name}}"></p>{% endif %}
          <h4 class="card-title">{{include.member.name}}</h4>
          {% if include.showTitle %}<p class="card-text">{{include.member.title}}</p>{% endif %}
          <p class="card-text">
              {% if include.member.email %}<a href="mailto:{{include.member.email}}" title="Email {{ include.member.name }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>{% endif %}
              {% if include.member.linkedin %}<a href="https://linkedin.com/in/{{include.member.linkedin}}" title="Connect with {{ include.member.name }} on LinkedIn" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>{% endif %}
          </p>
          <!-- a.btn.btn-primary>i.fa.fa-plus -->
      </div>
  </div>
</div>