<div class="social-icons">
  <a href="{{ site.social.facebook_url}}" target="_blank" alt="Like us on Facebook" aria-label="Like us on Facebook">
    <i class="fab fa-facebook"></i>
  </a>
  <a href="{{ site.social.twitter_url}}" target="_blank" alt="Follow us on Twitter" aria-label="Follow us on Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="{{ site.social.medium_url}}" target="_blank" alt="Follow our blog on Medium" aria-label="Follow our blog on Medium">
    <i class="fab fa-medium-m"></i>
  </a>
  <a href="{{ site.social.github_url}}" target="_blank" alt="Collaborate with us on Github" aria-label="Collaborate with us on Github">
    <i class="fab fa-github"></i>
  </a>
</div>