<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Work on things that matter!</h2>
        <hr class="small" />
        <p class="lead">
          We're a civic-minded team of technologists, designers, and ordinary residents that work with our 
          local government and community to transform our city through technology, design, and open data.
          We frequently hold public meetings to collaborate on projects, hold community discussions and 
          design sessions, and welcome new volunteers.
        </p>
        <p>
          <a class="btn btn-lg btn-info" href="/about/">Who we are</a>
          <a class="btn btn-lg btn-info" href="/events/">Join us at our next event!</a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
