---
layout: default
title: About Open Charlotte
permalink: '/about/'
header: 'About Us'
description: "We are civic-minded residents committed to working with the City of Charlotte, Mecklenburg County, Community Organizations and more to improve accessibility and services in Charlotte. We advocate for open government, open source and open data. We use technology as a tool to provide accessible services and address community needs."
---
{% include pages/about-us/leadership-team.html %}
{% include molecules/what-we-do.html %}

<!-- 
<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Our Impact</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Code of Conduct</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Our Leadership Team</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Board of Directors</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Make a Donation</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Our Supporters</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Join us at our next event</h2>
        <hr class="small"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Page under construction
      </div>
    </div>
  </div>
</div>
-->