---
layout: default
permalink: '/home-2/'
---

<section id="home-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 hero-photo">
        &nbsp;
      </div>
      <div class="col-sm-5 hero-text">
        <h1>Bridging technology and community for a thriving and equitable Charlotte</h1>
        <hr/>
        <p>
          We're a civic-minded team of volunteers that work with our local government and community groups to transform our city through technology, design, and open data. 
        </p>
        <p>
            We frequently hold public meetings to collaborate on projects, hold community discussions and design sessions, and welcome new volunteers.
        </p>
        
        <div class="links-container">
          <div class="intro-card">
            <i class="fas fa-users"></i> Test content here
          </div>
          <div class="intro-card">
            <i class="fas fa-users"></i> Test content here
          </div>
          <div class="intro-card">
            <i class="fas fa-users"></i> Test content here
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% include molecules/global-featured-event.html %}
{% include molecules/what-we-do.html %}
{% include pages/index/about.html %}
