---
layout: default
meta_title: Civic Innovation in Charlotte, NC
meta_description: "We believe government can work for the people, by the people, in the digital age. We use advocacy, education, and projects to address challenges in our city."
---

{% comment %}
<section id="election-day-header">
  <div class="container-fluid cover">
    <div class="row" style="position: relative;">
      <div class="col vote-clt-text">
        <h1>November 5th is Election Day!</h1>
        <p>Get informed then vote in the 2019 general election!</p>
        <a href="https://voteclt.org/ballot" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-success">Preview your Ballot</a>
      </div>
    </div>
  </div>

</section>
{% endcomment %}

<section id="home-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="d-none d-md-block col-md-4 col-sm-5 hero-photo">
        &nbsp;
      </div>
      <div class="col-xs-12 col-md-8 col-lg- col-xl-6 hero-text">
        <h1>Bridging technology and community for a thriving and equitable Charlotte</h1>
        <hr/>
        <p>
          We're a civic-minded team of volunteers that work with our local government and community groups to transform our city through technology, design, and open data. 
        </p>
        <p>
            We frequently hold public meetings to collaborate on projects, hold community discussions and design sessions, and welcome new volunteers.
        </p>
        
        <div class="links-container">
          <a href="/events">
            <div class="intro-card">
              <i class="intro-card-icon fas fa-calendar"></i> Join us at our next event
            </div>
          </a>
          <a href="/about">
            <div class="intro-card">
              <i class="intro-card-icon fas fa-info-circle"></i> Learn about what we do
            </div>
          </a>
          <a href="/projects">
            <div class="intro-card">
              <i class="intro-card-icon fas fa-project-diagram"></i> View our projects
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>




{% include molecules/what-we-do.html %}
{% include molecules/global-featured-event.html %}