#site-header-default {
  background-color: #fff;
  padding: 40px 0 20px 0;

  img#openclt-logo {
    max-width: 150px;
    margin-bottom: 8px;
    margin-left: 4px;
  }

  nav.navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
}
