#site-footer {
  background-color: #eee;
  padding: 50px 0;
  border-top: 1px solid #333;

  a.footer-navigation {
    color: rgba(0, 0, 0, 0.9);
    margin-top: 10px;
    display: block;
  }

  a.footer-navigation:first-child {
    margin-top: 0px;
  }

  .footer-copyright {
    padding-top: 50px;
  }

  .social-icons {
    display: block;
    margin-bottom: 10px;
  }
}
