#events-page {
  h2 {
    text-align: center;
  }
  hr {
    margin: 10px auto 18px auto;
    width: 50%;
  }

  .section-header {
    padding: 50px 0;
  }

  .event-description {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .event-bg {
    height: 500px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    &.community-night {
      background-image: url('/img/events/community-night.jpg');
    }
    &.project-night {
      background-image: url('/img/events//project-night.jpg');
    }
    &.hack-for-change {
      background-image: url('/img/events/hack-for-change.jpg');
    }
    &.socials {
      background-image: url('/img/events/socials.jpg');
    }
    &.summit {
      background-image: url('/img/events/summit.jpg');
    }
    &.congress {
      background-image: url('/img/events/congress.jpg');
    }
    &.south-region-call {
      background-image: url('/img/events/south-region-call.jpg');
    }
    &.opennc {
      background-image: url('/img/events/opennc.jpg');
    }
  }
}
