#home-hero {
  background-color: #1e98d1;
  color: #fefefe;
  .hero-photo {
    background: url('/img/trainyard.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 800px;

    @media screen and (max-width: 1350px) {
      height: 900px;
    }
  }

  .hero-text {
    padding: 50px 25px 0 25px;
    h1 {
      line-height: 1.5;
    }
    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      margin: 40px 0;
    }
    p {
      font-weight: bold;
    }

    .links-container {
      margin: 80px auto;
      .intro-card {
        border: 1px solid #fefefe;
        width: 100%;
        margin: 40px auto;
        padding: 20px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }

      a {
        color: #fefefe;
        text-decoration: none;
        .intro-card-icon {
          padding-right: 12px;
        }
      }
    }
  }
}

#election-day-header {
  background: url('https://voteclt.com/assets/img/hero-bg.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 36em;

  @media screen and (max-width: 1350px) {
    height: 600px;
  }

  .cover {
    height: 100%;
    background: rgba(0, 102, 51, 0.8);
  }

  .vote-clt-text {
    position: absolute;
    top: 200px;
    text-align: center;
    color: #fefefe;
    margin: auto;
  }
}
