<div class="row">
  <div class="col-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="primary-nav">
        <ul class="navbar-nav mr-auto">
        {% for item in site.navigation_top_left %}
          {% assign class = 'nav-link' %}
          {% assign active = false %}

          {% if page.url contains item.url %}
            {% assign class = 'nav-link active' %}
            {% assign active = true %}
          {% endif %}
          <a href="{{ item.url }}" class="{{ class }}" {% if item.new_window == true %} target="_blank" ref="noreferer nofollow"{% endif %}>
            {{ item.title }} {% if active == true %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        {% endfor %}
        </ul>
        <!-- Right nav -->
        <ul class="navbar-nav navbar-right">
          {% for item in site.navigation_top_right %}
            {% assign class = 'nav-link' %}
            {% assign active = false %}

            {% if page.url contains item.url %}
              {% assign class = 'nav-link active' %}
              {% assign active = true %}
            {% endif %}
            <a href="{{ item.url }}" class="{{ class }}" {% if item.new_window == true %} target="_blank" ref="noreferer nofollow"{% endif %}>
              {{ item.title }} {% if active == true %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          {% endfor %}
        </ul>
        {% include molecules/navigation-social-icons.html %}
      </div>
    </nav>
  </div>
</div>