<div class="row">
  <div class="col-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="primary-nav">
        <ul class="navbar-nav mr-auto">
        {% for item in site.navigation_top_left %}
          {% assign class = 'nav-link' %}
          {% assign active = false %}

          {% if page.url contains item.url %}
            {% assign class = 'nav-link active' %}
            {% assign active = true %}
          {% endif %}
          <a href="{{ item.url }}" class="{{ class }}" {% if item.new_window == true %} target="_blank" ref="noreferer nofollow"{% endif %}>
            {{ item.title }} {% if active == true %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        {% endfor %}
        </ul>
        <!-- Right nav -->
        <ul class="navbar-nav navbar-right">
          {% for item in site.navigation_top_right %}
            {% assign class = 'nav-link' %}
            {% assign active = false %}

            {% if page.url contains item.url %}
              {% assign class = 'nav-link active' %}
              {% assign active = true %}
            {% endif %}
            <a href="{{ item.url }}" class="{{ class }}" {% if item.new_window == true %} target="_blank" ref="noreferer nofollow"{% endif %}>
              {{ item.title }} {% if active == true %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          {% endfor %}
        </ul>
        <div class="social-icons">
          <a href="{{ site.social.facebook_url}}" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="{{ site.social.twitter_url}}" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="{{ site.social.medium_url}}" target="_blank"><i class="fab fa-medium-m"></i></a>
          <a href="{{ site.social.github_url}}" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </nav>
  </div>
</div>