<div class="row justify-content-between">
  <div class="col-6">
    <a href="/">
      <img id="openclt-logo" src="/img/openclt-logo-sm.png" alt="Open Charlotte"/>
    </a>
  </div>
  <div class="col-6 top-right">
    <div>
      <a class="get-involved-button btn btn-sm btn-primary hidden-sm" href="/brigade/join-us/">Get Involved</a>
      <!--<a class="donate-button btn btn-sm btn-danger" href="/donate/">
        Donate
      </a>-->
      <button class="menu-button btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#primary-nav" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i> Menu
      </button>
    </div>
  </div>
</div>
